.body {
  height: 100vh;
  background-color: #090C16;
}

.card {
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  width: 360px;
  height: 644px;

  @media (max-height: 646px) {
    height: 520px;
  }
}

.container {
  display: flex;
  justify-content: center;
}
